$padding : 15px;
$col_num : 24;
$xs : xs; $xs-break :    0px;
$sm : sm; $sm-break :  768px;
$md : md; $md-break :  992px;
$lg : lg; $lg-break : 1200px;

* { box-sizing: border-box; }

@media (min-width: $sm-break) { .container { width: 750px;  }}
@media (min-width: $md-break) { .container { width: 970px;  }}
@media (min-width: $lg-break) { .container { width: 1170px; }}

.container, 
.container-fluid 
{
	margin: 0 auto 
}

.row 
{ 
	margin-left: -15px; 
	margin-right: -15px; 
}

@each $pre, $width in 
	(-#{$xs}, $xs-break), 
	(-#{$sm}, $sm-break),
	(-#{$md}, $md-break), 
	(-#{$lg}, $lg-break) 
	{
	@media screen and (min-width: $width) 
	{
		@for $i from 0 through $col_num 
		{
			.c#{$pre}-#{$i} { float: left }
			$value : $i / $col_num * 100%;
			@each $type, $property in 
				(c,        width      ), 
				(c-push,   right      ), 
				(c-pull,   left       ), 
				(c-offset, margin-left) 
			{
				.#{$type}#{$pre}-#{$i} {#{$property} : $value}
			}
		}
		@for $j from 1 through 5 // 5 columns grid
		{
			.c#{$pre}-#{$j}-5 { float: left }
			$value : $j / 5 * 100%;
			@each $type, $property in 
				(c,        width      ), 
				(c-push,   right      ), 
				(c-pull,   left       ), 
				(c-offset, margin-left) 
			{
				.#{$type}#{$pre}-#{$j}-5 {#{$property} : $value}
			}
		}
	}
}

[class^=c-#{$xs}], 
[class^=c-#{$sm}], 
[class^=c-#{$md}], 
[class^=c-#{$lg}] 
{
	position: relative;
	min-height: 1px;
	padding: 0 15px;
}

@each $class in (clearfix, container, container-fluid, row) {
	#{$class}:after, #{$class}:before {
		content: " ";
		display: table;
		clear: both;
	}
}

.no-space, 
.no-space-children > *
{
  padding-left: 0;
  padding-right: 0; 
}

.space 
{
  padding-left: $padding;
  padding-right: $padding; 
}
