$padding : 15px;
$col_num :    3;
$a       :    c;
$float   :   ();
$col     :   ();
$s       :   ();
$breakpoint-list: (
  (xs,    0px,    0px),
  (sm,  768px,  750px),
  (md,  992px,  970px),
  (lg, 1200px, 1170px)
);

* { box-sizing: border-box; }

.container, .container-fluid { margin: 0 auto }

.row { margin: 0 -#{$padding} }
@each $pre, $break, $width in $breakpoint-list {
	@media screen and (min-width: $break) 
	{
		.container { width: $width }
		@for $i from 1 through $col_num
		{
			$value : $i / $col_num * 100%;
			@each $type, $property in 
				(#{$a},        width      ),
				(#{$a}-pull,   left       ),
				(#{$a}-push,   right      ),
				(#{$a}-offset, margin-left) 
			{
				.#{$type}-#{$pre}-#{$i} { #{$property} : $value}
			}
			$float : append($float, unquote('.#{$a}-#{$pre}-#{$i}'), 'comma');
		}
		#{$float} { float: left; }
		$float : ();
	}
	$col : append($col, unquote('[class^=#{$a}-#{$pre}]'), 'comma');
}
#{$col}
{
	position: relative;
	min-height: 1px;
	padding: 0 $padding;
}

$c : ('clearfix', 'container', 'container-fluid', 'row');
@each $i in $c 
{
 $s : append($s, unquote('.#{$i}:before, .#{$i}:after'), 'comma');
}
#{$s} 
{
  content: " ";
	display: table;
	clear: both;
}

.no-space, .no-space-children > * { padding: auto 0 }
.space { padding: auto $padding }
